#banner {

}
 
#wrapper{
    width: 1100px;
    margin:auto;
    padding-bottom: 20px;
    background-color:white;

    
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    overflow:hidden;
    
}

#content{
    width:1100px;
}
#nav{
    margin-top:-4px;
}
#nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


#nav li{
    float:left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover, .brandDD:hover .buttonDD{
    background-color: #111;
}

#nav li.brandDD {
    display: inline-block;
}

#nav .brand-types {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#nav .brand-types a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#nav .brand-types a:hover {background-color: #f1f1f1}

#nav .brandDD:hover .brand-types {
    display: block;
}

#footer{
    text-align:center;
    
}

#ContentPlaceHolder2_BootsPanel div
{
    float:left;
    width:250px;
    height:350px;
    text-align: center;
}

.BootsImage{
    width:250px;
    height:250px;
    vertical-align:central;
    padding:10px;
    border-radius:50px;
}
.ShoeName{
    font-size:18px;
    font-weight:bold;
}

.ShoePrice{
    font-family: Arial,halvetica,sans-serif;
}

.ImageDetails{
    width:400px;
    height:400px;
    margin-right:20px;
}

.bootsDescription{
    width:400px;
    font-style:italic;
}

.bootsPrice{
    font-size:24px;
    font-weight:bold;
}

.button{
    padding:10px;
    margin:10px;
    border:0;
    border-radius:4px;
    clear:both;
    background: linear-gradient(to bottom, Grey, lightgrey);
}

.insert{
    border: 1px solid #CACACA;
    margin: 0 0 25px;
    padding: 5px 9px;
    width:260px;
}

.insert:focus{
    background:#FFF;
    box-shadow:0 0 25px #CCC;
}

.cartTable{
    text-align:center;
    border: 15px solid #dcdad4;
    margin-bottom:10px;
    width:100px;
    padding:10px;
}

.cartTable input{
    width:65px;
    height:65px;
}

.cartTable h4{
    padding:0;
    margin:0;
}
.cartTable tr td select{
    width:100px;
}
