#banner {
    width:1100px;
   
}
 
#wrapper{
    position:absolute;
    width: 1100px;
    min-height:100%;
    height: auto;
    padding-bottom: 20px;
    background-color:white;
    display:inline-block;
    
    /*-moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;*/
    
}


#nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


#nav li{
    float:left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover, .brandDD:hover .buttonDD{
    background-color: #111;
}

#nav li.brandDD {
    display: inline-block;
}

#nav .brand-types {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#nav .brand-types a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#nav .brand-types a:hover {background-color: #f1f1f1}

#nav .brandDD:hover .brand-types {
    display: block;
}

#footer{
    position:absolute;
    display:inline-block;
    width:100%;
    margin-top:30%;
    text-align:center;
    
}