body {
}
 
#wrapper{
    width: 1100px;
    margin: auto;
    padding-bottom: 20px;
    background-color:white;
}


 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li{
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .brandDD:hover .buttonDD{
    background-color: #111;
}

li.brandDD {
    display: inline-block;
}

.brand-types {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.brand-types a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.brand-types a:hover {background-color: #f1f1f1}

.brandDD:hover .brand-types {
    display: block;
}

#footer{
    text-align:center;
}